*{
    margin: 0;
}
header{
    background-color: purple;
    height: 65px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
#info{
    width: 50%;
    font-size:large;
    padding-top: 30px;
    padding-left: 10px;
}
#course{
    display: flex;
    left: 50%;
  
}
body{
    background-color: rgb(197, 216, 221);
}